* {
    margin: 0;
    padding: 0;
    background-color: rgb(159, 155, 140);
}

nav {
    color: rgba(194, 21, 21, 0.886);
}
/* index */
.banda {
    text-align: center;
}

h1 {
    font-family: cursive;
    color: brown;
    text-align: center;
   

}

table,
tr,
th {
    width: 50%;
    padding: 5px;
    margin: auto;
    background-color:darkkhaki;
    color:brown;
}

/* about */


.contenedorPrincipal {}

.ezio img {
    float: left;
    width: 500px;
    height: 350px;
    border-radius: 5%;
}

.ezioparrafo {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-bottom: 200px;
    margin-left: 100px;


}

.baterista img {
    float: right;
    width: 500px;
    height: 350px;
    border-radius: 5%;
}

.bateriaparrafo {
   
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-bottom: 300%;
    width: 300%;
    

}
h1{
    font-size: 50px;
}

p {
    font-size: 20px;
    color: rgb(246, 234, 8);
    
}

/* gallery */

.musical {
    text-align: center;
}

/* contact */

.formulario {
 text-align: center;
}

input {
    background-color: white;
}

select {
    background-color: white;
}

textarea {
    background-color: white;
}